* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

body {
	overflow: hidden;
	background-color: #e65c2e;
	color: #FEFEFD;
	
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.navbar-inverse .brand {
	color: #ffffff;
	font-size: 2em;
	letter-spacing: .1em;
}


#page1 {
	height:1100px;
	padding-top:80px;
}
	
#page2 {
	height:1100px;
	padding-top:80px;
}
	
#page3 {
	height:1100px;
	padding-top:80px;
}

#page4 {
	height:1100px;
	padding-top:80px;
}
