* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

body {
	overflow: hidden;
	background-color: #e65c2e;
	color: #FEFEFD;
	
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.navbar-inverse .brand {
	color: #ffffff;
	font-size: 2em;
	font-weight: 700;
}

.block{
    padding: 20px 0px;
    height: 1100px; 
}

